# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE files
.idea/
*.iml
.vscode/
*.swp
*.swo

# Java & Maven
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
!frontend/*.json

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Tools, Scripts & Standalone Dist Packages
tools/
dist-release/
*.zip
*.ps1

# Logs & Database
*.log
h2db/
*.db
